.view-story-wrapper{
    margin: 1em 0;

    .view-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3em;

        h2{
            color: $h1_red;
            margin-bottom: 1em;
        }

        i{
            font-size: 1.1rem;
            color: #666;
            margin-bottom: 1em;
        }

        .story-stats{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid #666;
            width: 50%;
            padding: 0.25em;
            

            .stat{
                color: #666;
            }
        }
    }

    .interact-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
        margin-bottom: 1.5em;

        .author-interact{
            display: flex;
            flex-direction: row;
            gap: 1em;
            align-items: flex-end;
            padding: 0.5em;

            .info{
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                align-items: center;

                .image{
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 2px solid #000;

                    a{
                       
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center top;
                            
                        }
                    }
                }

                .username{
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                }

                a{
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }

            .interaction{
                display: flex;
                flex-direction: row;
                gap: 1em;

                .story-author-follow-btn{

                    &:hover{
                        color: green;

                        i{
                            color: green;
                        }
                    }
                    
                }

                .story-author-follow-btn:disabled{
                    background-color: rgba(0, 255, 0, 0.4);
                    color: green;

                        i{
                            color: green;
                        }
                }

                .story-author-kudos-btn{

                    &:hover{
                        color: red;

                        i{
                            color: red;
                        }
                    }
                }

                .story-author-kudos-btn:disabled{

                    background-color: rgba(255, 0, 0, 0.4);
                    color: red;

                        i{
                            color: red;
                        }
                }
            }
        }

        .story-interact{
            display: flex;
            flex-direction: row;
            gap: 1em;
            align-items: center;

            .story-like-btn{

                &:hover{
                    color: navy;

                    i{
                        color: navy;
                    }
                }
                
            }

            .story-like-btn:disabled{
                color: navy;
                background-color: rgba(0, 0, 128, 0.4);

                i{
                    color: navy;
                } 
            }

            .story-favourite-btn{

                &:hover{
                    color: goldenrod;

                    i{
                        color: goldenrod;
                    }
                }
                
            }

            .story-favourite-btn:disabled{
                color: rgb(218, 165, 32);
                background-color: rgba(218, 165, 32, 0.4);

                i{
                    color: goldenrod;
                }
                
                
            }
        }
    }

    .report-story-modal{
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: none;

        .modal-content{
            width: 30em;
            max-width: 100%;
            height: fit-content;
            margin: auto;
            margin-top: 10em;
            padding: 1em;
            background-color: #f1f1f1;
            border-radius: 10px;

            p{
                font-size: 1.3rem;
                color: #000;
                margin-bottom: 1em;
            }

            .report-modal-errors{
                margin-bottom: 0.5em;
                width: fit-content;
                background-color: rgba(255, 0, 0, 0.4);
                color: #fff;
                padding: 0.25em;
                display: none;
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                list-style: none;
                font-size: 1.1rem;
                margin-bottom: 1em;
            }
        }
    }

    .content-wrapper{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 3em;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

        .content-body{
            
            font-size: 18px;
            line-height: 1.4em;
        }
    }

    .comments-wrapper{
        width: 70%;
        margin: auto;
        box-shadow: 
        3px 0 3px rgba(0, 0, 0, 0.3),
        -3px 0 3px rgba(0, 0, 0, 0.3);

        h3{
            padding-top: 2em;
            color: #666;
            margin: 0 0 3em 2em;
        }

        .comment-submit-block{
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            align-items: center;
            width: 80%;
            margin: auto;
            margin-bottom: 3em;

            .input{
                border: 2px solid #f1f1f1;
                border-radius: 10px;
                width: 100%;
                padding: 0.5em;

                &::before{
                    content: 'Your Comment';
                    display: inline-block;
                    color: #666;
                    font-size: 0.9rem;
                }

                textarea{
                    width: 100%;
                    height: 50px;
                    position: relative;
                    resize: none;
                    border: 0;
                    font-size: 1.1rem;
                    
                    &:focus{
                        border: 0;
                        outline: 0;
                    }
                }

                .input-lower{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 0.5em;
                    color: #666;
                    padding: 0.25em 0;

                    .add-to{

                        .emojis{
                            height: 100%;
                            
                            i{
                                padding: 0.5em;
                                cursor: pointer;


                                &:hover{
                                    color: steelblue;
                                }
                            }
                        }
                    }
                }
            }

            .submit{
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

        }

        .comment-list-block{
            width: 80%;
            margin: auto;

            .stat-bar{
                display: flex;
                justify-content: space-between;
                padding: 0.5em;
                align-items: 1.1rem;
                border: 1px solid #f1f1f1;
                margin-bottom: 1em;
            }

            .comment-list-main{
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                .comment{
                    padding: 0.25em;
                    border: 1px solid #f1f1f1;
                    border-radius: 5px;

                    .comment-header{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-end;
                        margin-bottom: 1em;

                        .user-info{
                            
                            img{
                                width: 50px;
                                height: 50px;
                                border: 2px solid #000;
                                border-radius: 50px;
                                object-fit: cover;
                                object-position: center top;
                            }
                        }
                    }

                    .comment-body{
                        width: 90%;
                        margin: 0 auto;
                        margin-bottom: 0.5em;
                    }

                    .comment-footer{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 1em;
                        border-top: 1px solid #f1f1f1;
                        padding: 0.2em;

                        i{
                            cursor: pointer;
                        }

                        .comment-like-btn-disabled{
                            color: navy;
                        }
                    }
                }
            }
        }
    }
}