header{
    width: 70em;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $main_bg;

    .logo{
        padding: 0.5em;

        h1{
            font-size: 2.8rem;
            color: $h1_red;
        }
    }

    .user-auth{
        display: flex;
        gap: 0.5em;
        padding-right: 1em;

        a{
            display: flex;
            align-items: center;
            gap: 0.1em;
            font-size: 1.2rem;
        }
    }


}